// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.categories {
	marin-left: 20px;
}

p.categories {
	border: 1px solid #ddd;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container-categories {
	margin-left: 7%;
}

div.header {
	margin-top: 20px;
}

div.search-header {
}

