<table class="tableUserInformation">
	<tbody>
		<tr>
			<td><%= t 'user.first_name: ' %></td>
			<td><%= current_user.first_name %></td>
		</tr>
		<tr>
			<td><%= t 'user.last_name: ' %></td>
			<td><%= current_user.last_name %></td>
		</tr>
	</tbody>
</table>
